vijay/src/main/mule/vijay.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e33e4979-a24d-4978-a9c1-a7c1203c1817" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="88ff0032-f517-4cd1-9307-ec8ab0c888f0" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Daddy@143" database="dbb" />
	</db:config>
	<flow name="vijayFlow" doc:id="fca02e69-1bed-4f15-b529-3c9fc2b8a4b9" >
		<http:listener doc:name="Listener" doc:id="51d26ec6-57ea-44ce-bf1b-3116b2806ddf" config-ref="HTTP_Listener_config" path="/vij"/>
		<db:insert doc:name="Insert" doc:id="3d48ec1e-4283-49ae-a991-fc887a3278e1" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into empdata (empid, name, surname, company, location) values (empid, name, surname, company, location);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
empid: payload.id,
name: payload.name,
surname: payload.surname,
company: payload.company,
location: payload.location
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="402a2279-9089-4b3c-8ce1-0d48fa0d0d00">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
